       <!--   Banner  -->
       <a *ngIf="visible" href="#" role="button" class="icono_banner_perfil"><i class="bi bi-pencil-square icono_banner_perfil"></i></a>
       <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img [src]="Perfil.fotoBanner" class="d-block w-100 banner" alt="Cargando...">
             </div>
           </div>
         </div>
   <!--------            Intro perfil                ----------------->
   <section class="container-fluid">
       <div class="row mx-auto">
           <div class="col-1">
               <a *ngIf="visible" href="#" role="button" class="icono_foto_perfil"><i class="bi bi-pencil-square icono_foto_perfil"></i></a>
           <img class="FotoPerfil" [src]="Perfil.fotoPerfil">
           </div>
       </div>
       <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3 col-3  PerfilName mb-5">
               <a *ngIf="visible" href="#" role="button" class="icono_perfil"><i class="bi bi-pencil-square icono_perfil d-flex mx-3"></i></a>
           <h4>{{Perfil.nombre}} {{Perfil.apellido}}</h4>
           <span class="">{{Perfil.edad}} Años</span> 
           </div>   
           <div class="col-8">
               <a *ngIf="visible" href="#" role="button" class=""><i class="bi bi-pencil-square icono d-flex mx-3"></i></a>
               <h4>Titulos e informacion:</h4>
               <p>{{Perfil.informacion}}</p>
           </div>
       </div>
   </section>